.chandi-main{
    width: 100vw;
    height:100vh;
    overflow: hidden;
}
.chandi-bg{
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.logo-div{
    position: fixed;
    margin:20px 0 0 20px;
}
.logo{
    width: 10vw;
}
.logo:hover{
    cursor: pointer;
}
.textdiv-chandi{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
}
.chandi-title{
    font-size: 6vw;
    padding: 0;
    margin: 0;
    font-family: samarkan;
}
.venue-chandi{
    margin:0;
    padding: 0;
    font-family: inter;
    font-size:1.5rem;
}
.cards-chandi{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    gap:3vw;
    align-items:center ;
}
.chandi-main-mobile{
    display: none;
}
@media only screen and (max-width:768px){
    .chandi-main{
        display: none;
    }
    .chandi-main-mobile{
        display: block;
        /* position: scroll; */
        position: absolute;
    }
    .textdiv-chandi{
        margin-top: 20vh;
        margin-left:10vw;
        justify-content: start;
        align-items: start;
        margin-bottom: 2rem;
        position: relative;
    }
    .textdiv-chandi h3{
        font-family: Salsa;
    }
    .chandi-title{
        font-size:10vw
    }
    .venue-chandi{
        font-size:5vw
    }
    .cards-chandi{
        display: flex;
        flex-direction: column;
        margin-top:3rem;
        gap:5rem;
        margin-bottom: 5rem;
    }
}