@keyframes sidePopup {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform:translateX(0);
    }
    
}
@keyframes sidePopin {
    0%{
        transform: translateX(-20vw);
    }
    100%{
        transform:translateX(-100vw);
    }
    
}
.nav-main{
    height: 9vh;
    width: 100vw;
    background-color: #2c2c2c;
    /* opacity: 0.9; */
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap:70vw; */
    overflow: hidden;
    /* padding-left:5px; */
    /* padding-right: 5px; */
    
}
.ham-img{
    height:4vh;
    margin-left:3vw;
}
.cross-img{
    height:4vh;
    margin-left:3vw;
    display: none;
}
.th-logo{
    margin-right:3vw;
    height:6vh;
}
    .hidden{
        /* display: none; */
        margin-top: 9vh;
        height:91vh;
        width:100vw;
        background-color: #2c2c2c;
        color: white;
        font-family: samarkan;
        font-size:2rem;
        padding-top: 7vh;
        z-index: 3;
        position: fixed;
        animation: sidePopin 1s forwards;

        
    }
    .visible{
        display: block;
        margin-top: 9vh;
        height:91vh;
        width:85vw;
        background-color: #2c2c2c;
        color: white;
        font-family: samarkan;
        font-size:2rem;
        padding-top: 7vh;
        z-index: 3;
        position: fixed;
        animation: sidePopup 1s forwards;
    }
.states{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 7vw;
    gap:7vh
    /* text-decoration: none; */
}