.luck-main{
    width: 100vw;
    height:100vh;
    overflow: hidden;
}
.luck-bg{
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.logo-div{
    position: fixed;
    margin:20px 0 0 20px;
}
.logo{
    width: 10vw;
}
.logo:hover{
    cursor: pointer;
}
.textdiv-luck{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap:2vh; */
}
.textdiv-luck h3{
    font-family: Salsa;
    margin-bottom: 2vh;
} 
.luck-title{
    font-size: 6vw;
    padding: 0;
    margin: 0;
    font-family: samarkan;
}
.venue-luck{
    margin:0;
    padding: 0;
    font-family: inter;
    font-size:1.5rem;
}
.cards-luck{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    gap:3vw;
    align-items:center ;
}
.luck-main-mobile{
    display: none;
}
@media only screen and (max-width:768px){
    .luck-main{
        display: none;
    }
    .luck-main-mobile{
        display: block;
        position: absolute;
    }
    .textdiv-luck{
        margin-top: 20vh;
        margin-left:10vw;
        justify-content: start;
        align-items: start;
        margin-bottom: 2rem;
    }
    .textdiv-luck h3{
        font-family: Salsa;
    }    
    .luck-title{
        font-size:10vw
    }
    .venue-luck{
        font-size:5vw
    }
    .cards-luck{
        display: flex;
        flex-direction: column;
        margin-top:3rem;
        gap:5rem;
        margin-bottom: 5rem;
    }
}